[Unit]
Description=POST Req Server
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/
ExecStart=/usr/bin/node vali-server.js
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
